name: CI

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check SSH key fingerprint
        run: |
          (ssh-keygen -l -f ssh_keys/id_ed25519.pub | awk '{print $2}') > tmp.txt
          diff -b tmp.txt ssh_keys/id_ed25519_fingerprint.txt
